.process-container {
    width: 100%;
    margin: 0px;
    min-height: 813px;
    height: 100%;
    background-color: var(--background-color-secondary);
    background-image: url('../../src/assets/cases-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--text-color-secondary);

}

.process-content {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
    padding: 6.5rem 5.8125rem;
    /* margin-bottom: 5.875rem; */
    gap: 3rem;
}

.cases-text {
    margin-bottom: 3rem;
}

.process-steps-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    min-height: 573px;
    padding: 2.5rem;
    border-radius: 24.727px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(18.545454025268555px);
}

/* .process-step-button:first-child {
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.30);
} */

.process-step-button {
    border-radius: 1rem;
    padding: 1.25rem;
    max-width: 500px;
    height: 116px;
    min-width: 430px;
    width: 100%;
    cursor: pointer; 
    transition: background-color 0.3s ease;
      
    
    
}

.process-step-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.process-step-text .lottie-animation-container {
    display: none;
}

.lottie-animation-container {
    max-width: 634px;
    height: 489px;
    width: 100%;
    border-radius: 12.538px;
    background-color: #ffffff;
}

@media screen and (max-width: 1179px) {

    .process-step-button {
        border-radius: 1rem;
        padding: 1.25rem;
        min-width: 400px;
        width: 100%;
    }

}

@media screen and (max-width: 1090px) {

    .process-step-button {
        border-radius: 1rem;
        padding: 1.25rem;
        min-width: 350px;
        width: 100%;
    }

    .lottie-animation-container {
        max-width: 634px;
        min-height: 573px;
        width: 100%;
        border-radius: 12.538px;
        background-color: #ffffff;
    }

}

@media screen and (max-width: 1000px) {

    .process-step-text .lottie-animation-container {
        display: flex;
    }

    .lottie-animation-container {
        display: none;
    }

    .process-step-button {
        border-radius: 1rem;
        padding: 1.25rem;
        max-width: 100%;
        width: 100%;
        margin-bottom: 4px;
    }

    .lottie-animation-container {
        max-width: 100%;
        min-height: 573px;
        width: 100%;
        border-radius: 12.538px;
        background-color: #ffffff;
        margin-bottom: 1.5rem;
    }

}

@media screen and (max-width: 768px) {
    .process-content {
        display: flex;
        flex-direction: column;
        max-width: 1500px;
        margin: 0 auto;
        width: 100%;
        padding: 6.5rem 1.25rem;
        /* margin-bottom: 5.875rem; */
    }
    
}

@media screen and (max-width: 500px) {
    .process-step-button {
        border-radius: 1rem;
        padding: 1.25rem;
        min-width: 230px;
        width: 100%;
    }

    .process-steps-container {
        padding: 1.25rem;
    }

    .process-content {
        gap: 4rem;
    }
}

@media screen and (max-width: 350px) {
    .process-content {
        gap: 7.5rem;
    }
}