.menu-mobile {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color-secondary);
    transform: translateX(100%);
    transition: transform 0.6s ease;
    z-index: 1000;
}

.menu-mobile-links ul li {
    list-style: none;
    padding: 0.75rem 0;
}




@media screen and (max-width: 768px) {
    
    .menu-mobile {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        width: 100vw;
        height: 100vh;
        background-color: var(--background-color-secondary);
        transform: translateX(100%);
        transition: transform 0.6s ease;
        z-index: 1000;
    }

    .menu-mobile.open {
        transform: translateX(0);
    }

    .menu-mobile-logo {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
    }

    .menu-mobile-container {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 24px 20px;
    }


    .close-menu-mobile {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .menu-mobile-links {
        display: flex;
        flex-direction: column;
        gap: rem;
        padding: 2.5rem 0;
        width: 100%;
    }

    .menu-mobile-links ul li {
        list-style: none;
        padding: 0.75rem 0;
    }

    .menu-mobile-links ul li a {
        text-decoration: none;
        color: var(--text-color-secondary);
        font-size: 1rem;
        font-weight: 600;
        padding: 1rem 0;
        font-family: 'Switzer', sans-serif;
    }

    .menu-mobile-button {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 3.5rem;
        gap: 2rem;
    }

    .menu-mobile-button .button-contact button {
        background-color: transparent;
        border: none;
    }
    
    .menu-mobile-button p {
        color: var(--text-color-primary);
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Switzer', sans-serif;
        line-height: 150%;
    }

    .menu-mobile-button .button-contact {
        
        background-color: var(--purple);
        color: var(--text-color-secondary);
        min-width: 100%;
        padding: 0.75rem 0;
        border-radius: 50px;
        text-align: center;
        font-size: 0.875rem;
        font-weight: 400;
        text-decoration: none;
        
    }

    .button-contact button {
        color: var(--text-color-secondary);
    }

    .menu-mobile-site-map {
        display: flex;
        justify-content: end;
        padding: 2rem 0;
        flex-direction: column;
        height: 100%;
        font-family: 'Switzer', sans-serif;
    }

    .site {
        width: 100%;
        padding: 0.75rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .site p {
        color: var(--text-color-primary);
        font-size: 1rem;
        font-weight: 500;
        line-height: 150%;
    }

    .site span {
        color: var(--text-color-tertiary);
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 150%;
    }

    .site a {
        color: var(--text-color-tertiary);
        text-decoration: none;
    }

    .site#contato {
        border-top: 1px solid var(--border-color-primary);
        padding-top: 2rem;
    }

}