.cases-container {
    margin: 142px 0px;
    width: 100%;
    height: 813px;
    height: auto;
    background-color: var(--background-color-secondary);
    background-image: url('../../src/assets/cases-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--text-color-secondary);
}

.cases-content {
    display: flex;
    flex-direction: column;
    padding: 6.5rem 5.8125rem;
    margin: 0 auto;
    height: 100%;
    max-width: 1500px;
}

.cases-text-support span::before {
    content: '';
    display: block;
    width: 1.5rem;
    height: 2px;
    background-color: var(--purple);
}

.cases-text {
    width: 100%;
    min-height: 201px;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.cases-title {
    max-width: 544px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cases-title h2 {
    font-family: 'Switzer', sans-serif;
    font-size: 2.5rem;
    line-height: 120%;
    font-weight: 500;
}

.cases-title span {
    color: var(--purple);
    font-family: 'Archivo', serif;
    font-size: 0.875rem;
    line-height: 120%;
    font-weight: 400;
}

.cases-text-support {
    max-width: 487px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.cases-text-support p {
    font-family: "Archivo", serif;
    font-size: 1rem;
    line-height: 150%;
    font-weight: 300;
    padding-bottom: 2.25rem;
    place-self: flex-end;
    align-self: flex-end;
}

.cases-cards {
    color: var(--text-color-secondary);
    display: flex;
    width: 100%;
    gap: 1.5rem;
    overflow-x: hidden;
    gap: 1.5rem;
    -webkit-overflow-scrolling: touch; 
    scrollbar-width: none;   
    position: relative;
    border-radius: 0.75rem;
}

.horizontal-scroll-wrapper {
    display: inline-flex;
    gap: 1.5rem;
    will-change: transform;
}

@media screen and (max-width: 1120px) {

    .cases-text-support {
        max-width: 387px;
    }
}

@media screen and (max-width: 1030px) {

    .cases-title h2 {
        font-size: 1.75rem;
        padding-bottom: 0.5rem;
    }

    .cases-text-support p {
        padding-bottom: 0rem;
        place-self: flex-end;
        align-self: flex-end;
        
    }

    .cases-text-support {
        max-width: 320px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    
}

@media screen and (max-width: 1200px) {
    .cases-cards {
        overflow-x: auto; /* scroll nativo */
        -webkit-overflow-scrolling: touch; 
        scrollbar-width: none;
      }
    
      .cases-cards::-webkit-scrollbar {
        display: none;
      }
}

@media screen and (max-width: 815px) {
    
    .cases-text {
        width: 100%;
        max-height: 201px;
        display: flex;
        gap: 1.5rem;
        flex-direction: column;
    }

    .cases-title h2 {
        padding-bottom: 0rem;
    }

    .cases-title {
        max-width: 100%;
        display: flex;
        gap: 1rem;
    }
    

    .cases-text-support span::before {
        display: none;
    }

    .cases-text-support {
        max-width: 100%;
    }
    
}

@media screen and (max-width: 768px) {
    
    .cases-content {
        padding: 80px 20px;
    }

    .cases-cards {
        overflow-x: auto;
        gap: 1.5rem;
        -webkit-overflow-scrolling: touch; 
        scrollbar-width: none;      
    }

    .cases-cards::-webkit-scrollbar {
        display: none;
    }
    
}

@media screen and (max-width: 530px) {
    
    .cases-container {
        min-height: 1070px;
    }

    .cases-content {
        height: 1070px;
    }

    .horizontal-scroll-wrapper {
        display: flex;
    }
    
}

@media screen and (max-width: 490px) {
    
    .cases-text {
        margin-bottom: 64px;
    }
    
}

@media screen and (max-width: 435px) {
    
    .cases-text {
        margin-bottom: 110px;
    }

    /* .cases-container {
        height: 1060px;
    }
    
    .cases-content {
        height: 100%;
    } */
    
}

@media screen and (max-width: 335px) {
    
    .cases-text {
        margin-bottom: 150px;
    }
    
}

