:root {
  font-family: 'Switzer', sans-serif;
  font-family: "Archivo", serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);
  --border-color-primary: #2A2A2A;
  --background-color: #FEFEFE;
  --background-color-secondary: #0D0C0C;
  --text-color-suport: #535862;
  --purple: #9147DC;
  color: #000000;
  --text-color-secondary: #FFFFFF;
  --text-color-tertiary: #D2D2D2;
  

  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  shape-rendering: crispEdges;
  transform: translateZ(0); /* Força aceleração de hardware */
}

::-webkit-scrollbar {
  width: 6px;
  background: #2A2A2A;
}

::-webkit-scrollbar-thumb {
  background: #444444;  
  border-radius: 0px; 
  height: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7321C5;
}

img, svg {
    -webkit-user-drag: none;  /* Evita arrastar no Chrome/Safari */
    user-select: none;        /* Evita seleção no texto/imagem */
}
