.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}


.company-container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.company-content {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5.8125rem;
    padding-top: 5.8125rem;
}

.company-text {
    max-width: 560px;
    width: 100%;
    padding-left: 93px;
}

.company-text span {
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--purple);
    text-transform: uppercase;
    font-family: 'Archivo', serif;
}

.company-text h2 {
    font-family: 'Switzer', sans-serif;
    color: var(--background-color-secondary);
    font-size: 2.5rem;
    line-height: 120%;
    font-weight: 500;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    letter-spacing: -1px;
}

.company-text p {
    font-family: 'Archivo', serif;
    color: var(--text-color-suport);
    font-size: 1rem;
    font-weight: 300;
    line-height: 150%;
    max-width: 550px;
    width: 100%;
}

.institutional-video {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-right: 93px;
    border-radius: 6px;
    align-items: start;
}



.procect-video {
    border-radius: 8px;
    width: 591px;
}

.institutional-video span {
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--purple);
    text-transform: uppercase;
    font-family: 'Archivo', serif;
}

.company-values {
    margin-top: 1.25rem;
    display: flex;
    max-width: 411px;
    width: 100%;
    justify-content: space-between;
}

.first-column-value ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.first-column-value ul li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.first-column-value ul li span {
    font-family: 'Archivo', serif;
    color: var(--text-color-suport);
    font-size: 0.875rem;
    line-height: 150%;
    font-weight: 500;
    margin-top: 1.25rem;
    letter-spacing: -1px;
}


.video img {
    border-radius: 0.375rem;
    min-width: 591px;
    max-height: 372px;
    width: 100%;
}

@media screen and (min-width: 1500px) {

    .company-text {
        padding-left: 93px;
    }

}

@media screen and (max-width: 1280px) {

  

    .video img {
        border-radius: 0.375rem;
        width: 100%;
        min-width: 490px;
    }

    .company-content {
        gap: 2rem;
    }

}

@media screen and (max-width: 1090px) {

    .procect-video{   
        width: 100%;
        height: 100%;
    }

    .company-content {
        flex-direction: column;
        margin-bottom: 5rem;
    }

    .institutional-video {
        padding-left: 93px;
        width: 100%;
        align-items: start;
    }

    .video img {
        border-radius: 0.375rem;
        min-width: 100%;
        object-fit: cover;
    }

    .company-text {
        max-width: 100%;
        padding-left: 93px;
        padding-right: 93px;
    }
    
    .company-text h2 {
        font-family: 'Switzer', sans-serif;
        color: var(--background-color-secondary);
        font-size: 2.5rem;
        line-height: 120%;
        font-weight: 500;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
        letter-spacing: -1px;
    }
    
    .company-text p {
        font-family: 'Archivo', serif;
        color: var(--text-color-suport);
        font-size: 1rem;
        font-weight: 300;
        line-height: 150%;
        max-width: 100%;
    }
    
}

@media screen and (max-width: 1030px) {

    .company-text h2 {
        font-size: 1.75rem !important;
    }

}

@media screen and (max-width: 768px) {

    .company-text {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .institutional-video {
        padding-right: 20px;
        padding-left: 20px;
    }

}

@media screen and (max-width: 500px) {

    .company-text h2 {
        font-size: 32px;
    }

    .institutional-video .video iframe{
        width: 100%;
        height: 300px;
        border-radius: 8px;
        max-width: 100%;
        max-height: 100%;
        min-width: 250px;
    }

    .company-content {
        flex-direction: column;
        margin-bottom: 3rem;
        gap: 2.5rem;
    }

    .company-values {
        max-width: 100%;
    }
}

@media screen and (max-width: 405px) {

    .company-values {
        flex-direction: column;
        gap: 0.5rem;
    }

}

.institutional-video {
    display: flex;
    justify-content: flex-end;
    align-items: start; 
    margin-top: 20px; 
  }
  
  .video {
    width: 100%;
    max-width: 600px; 
    height: auto;
    position: relative;
  }
  
  video {
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
  }
  